<section class="find-us" id="find_us">
    <div class="find-us-block">
        <div class="container text-center">
            <div class="find-us-article">
                <h2 class="works__article">FIND US</h2>
                <p class="works__text">Duis vitae velit mollis, congue nisi dignissim, pellentesque lorem</p>
            </div>
            <div class="row">
                <div class="col-md-offset-0  col-md-4 col-sm-4">
                    <div class="col-sm-2 col-xs-5">
                        <span class="fa fa-phone find-us__icon" aria-hidden="true"></span>
                    </div>
                    <div class="col-sm-10 col-xs-7 text-left ">
                        <h4 class="find-us__name">PHONES</h4>
                        <ul class="find-us__information">
                            <li><a href="tel:+359 2 88 55 999">+359 2 88 55 999</a></li>
                            <li><a href="tel:+359 2 88 55 999">+359 89 88 55 999</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-offset-0  col-md-4 col-sm-4">
                    <div class="col-sm-2 col-xs-5">
                        <span class="fa fa-map-marker find-us__icon" aria-hidden="true"></span>
                    </div>
                    <div class="col-sm-10 col-xs-7 text-left">
                        <h4 class="find-us__name">OFFICE ADDRESS</h4>
                        <ul class="find-us__information">
                            <li>4 Byala Cherkva Str.</li>
                            <li>3rd Floor</li>
                            <li>Sofia, 1000,</li>
                            <li>Bulgaria</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-offset-0  col-md-4 col-sm-4">
                    <div class="col-sm-2 col-xs-5">
                        <span class="fa fa-envelope find-us__icon" aria-hidden="true"></span>
                    </div>
                    <div class="col-sm-10 col-xs-7 text-left">
                        <h4 class="find-us__name">EMAILS</h4>
                        <ul class="find-us__information">
                            <li><a href="mailto:vlad@htmlbook.ru?subject=office">office@trendy.com</a></li>
                            <li><a href="mailto:vlad@htmlbook.ru">sales@trendy.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><!--/.container-->
    </div>
</section>

<!--FOOTER-->

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>Copyright © 2014 Trendy - Designed by Stefan Parnarov</p>
            </div>
            <div class="col-md-6">
                <ul class="list-inline footer__network-list">
                    <li><a href="https://www.facebook.com/" target="_blank"><span class="fa fa-facebook" aria-hidden="true"></span></a></li>
                    <li><a href="https://plus.google.com/" target="_blank"><span class="fa fa-google-plus" aria-hidden="true"></span></a></li>
                    <li><a href="https://twitter.com.com/" target="_blank"><span class="fa fa-twitter" aria-hidden="true"></span></a></li>
                    <li><a href="https://www.linkedin.com/" target="_blank"><span class="fa fa-linkedin" aria-hidden="true"></span></a></li>
                    <li><a href="https://ru.pinterest.com.com/" target="_blank"><span class="fa fa-pinterest" aria-hidden="true"></span></a></li>
                    <li><a href="https://vk.com/" target="_blank"><span class="fa fa-vk" aria-hidden="true"></span></a></li>
                    <li><a href="https://dribbble.com/" target="_blank"><span class="fa fa-dribbble" aria-hidden="true"></span></a></li>
                    <li><a href="https://www.flickr.com/" target="_blank"><span class="fa fa-flickr" aria-hidden="true"></span></a></li>
                    <li><a href="https://www.rss.com/" target="_blank"><span class="fa fa-rss" aria-hidden="true"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/jquery.spincrement.js"></script>
<script src="js/jquery.arcticmodal-0.3.min.js"></script>
<script src="js/main.js"></script>
<script src="js/our_blocks.js"></script>
<script src="js/leanbackPlayer.js"></script>
<script src="js/leanbackPlayer.en.js"></script>
<script src="js/swiper.jquery.min.js"></script>
<script src="js/swiper.min.js"></script>
<script src="js/mediaelement-and-player.min.js"></script>
</body>
</html>




