<!--HEADER SECTION-->

    <section class="header__section">
        <div class="header__block">
            <div class="header__article">
                <div class="container text-center">
                    <h1>WE ARE</h1>
                    <h1>DESIGNING</h1>
                    <p>And We Are Doing It Well</p>
                </div>
            </div>
            <a href="#about_us" class="btn header__scroll-down" >
                <span class="fa fa-angle-down fa-2x" aria-hidden="true"></span>
            </a>
        </div>
    </section>

    <!--ABOUT US-->

    <section class="about" id="about_us">
        <div class="container text-center">
            <div class="about-us">
                <h2 class="main-content__article">ABOUT US</h2>
                <p class="main-content__text">Duis vitae velit mollis, congue nisi dignissim, pellentesque lorem</p>
                <ul class="timeline">
                    <li>
                        <div class="timeline-badge"></div>
                        <div class="timeline-panel text-left">
                            <div class="col-md-2">
                                <span class="fa fa-flag timeline__icon" aria-hidden="true"></span>
                            </div>
                            <div class="col-md-10">
                                <div class="timeline__content">
                                    <h4 class="product-name ">THE BEGINNING</h4>
                                    <div class="timeline-body ">
                                        <p>Quisque ut convallis diam, id pulvinar leo. Integer consequat vulputate orci sit amet consequat</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge"></div>
                        <div class="timeline-panel text-left">
                            <div class="col-md-2">
                                <span class="fa fa-trophy timeline__icon" aria-hidden="true"></span>
                            </div>
                            <div class="col-md-10 timeline__content">
                                <h4 class="product-name">THE FIRST AWARD</h4>
                                <div class="timeline-body">
                                    <p>Aliquam sollicitudin, neque sed facilisis bibendum, dolor sapien consectetur nunc, sed eleifend mauris</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge"></div>
                        <div class="timeline-panel text-left">
                            <div class="col-md-2">
                                <span class="fa fa-building-o timeline__icon" aria-hidden="true"></span>
                            </div>
                            <div class="col-md-10 timeline__content">
                                <h4 class="product-name">WE HAVE A NEW OFFICE</h4>
                                <div class="timeline-body">
                                    <p>Curabitur quis pulvinar sapien, vitae vehicula orci. Curabitur scelerisque nulla ac augue lobortis</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <a href="#" class="btn btn-grab-now">LOAD MORE</a>

            </div><!--about us-->

            <!--ABOUT THE TEAM-->

            <div class="about-the-team">
                <h2  class="main-content__article">AND THE TEAM</h2>
                <p class="main-content__text">Duis vitae velit mollis, congue nisi dignissim, pellentesque lorem</p>
                <div class="row">
                    <div class="col-md-3 col-xs-6">
                        <img src="http://placehold.it/150x198" class="img-responsive img-thumbnail content-image" alt="">
                        <ol class="breadcrumb team__name">
                            <li><a href="#">MIKE</a></li>
                            <li class="active">CFO</li>
                        </ol>
                        <ul class="list-inline team__list-networking">
                            <li><span class="fa fa-facebook" aria-hidden="true"></span></li>
                            <li><span class="fa fa-twitter" aria-hidden="true"></span></li>
                            <li><span class="fa fa-google-plus" aria-hidden="true"></span></li>
                            <li><span class="fa fa-linkedin" aria-hidden="true"></span></li>
                            <li><span class="fa fa-pinterest" aria-hidden="true"></span></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <img src="http://placehold.it/150x198" class="img-responsive img-thumbnail content-image" alt="">
                        <ol class="breadcrumb team__name">
                            <li><a href="#">ELLY</a></li>
                            <li class="active">CFO</li>
                        </ol>
                        <ul class="list-inline team__list-networking">
                            <li><span class="fa fa-facebook" aria-hidden="true"></span></li>
                            <li><span class="fa fa-twitter" aria-hidden="true"></span></li>
                            <li><span class="fa fa-google-plus" aria-hidden="true"></span></li>
                            <li><span class="fa fa-linkedin" aria-hidden="true"></span></li>
                            <li><span class="fa fa-pinterest" aria-hidden="true"></span></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <img src="http://placehold.it/150x198" class="img-responsive img-thumbnail content-image" alt="">
                        <ol class="breadcrumb team__name">
                            <li><a href="#">VALL</a></li>
                            <li class="active">CFO</li>
                        </ol>
                        <ul class="list-inline team__list-networking">
                            <li><span class="fa fa-facebook" aria-hidden="true"></span></li>
                            <li><span class="fa fa-twitter" aria-hidden="true"></span></li>
                            <li><span class="fa fa-google-plus" aria-hidden="true"></span></li>
                            <li><span class="fa fa-linkedin" aria-hidden="true"></span></li>
                            <li><span class="fa fa-pinterest" aria-hidden="true"></span></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <img src="http://placehold.it/150x198" class="img-responsive img-thumbnail content-image" alt="">
                        <ol class="breadcrumb team__name">
                            <li><a href="#">DIDI</a></li>
                            <li class="active">CFO</li>
                        </ol>
                        <ul class="list-inline team__list-networking">
                            <li><span class="fa fa-facebook" aria-hidden="true"></span></li>
                            <li><span class="fa fa-twitter" aria-hidden="true"></span></li>
                            <li><span class="fa fa-google-plus" aria-hidden="true"></span></li>
                            <li><span class="fa fa-linkedin" aria-hidden="true"></span></li>
                            <li><span class="fa fa-pinterest" aria-hidden="true"></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--WORKS-->


    <section class="works" id="works">
        <div class="container text-center">
            <h2  class="works__article">WORKS</h2>
            <p class="works__text">Duis vitae velit mollis, congue nisi dignissim, pellentesque lorem</p>
            <div class="swiper-container works__carousel">
                <div class="swiper-wrapper ">
                    <div class="swiper-slide">
                        <a href="#"  data-toggle="modal" data-target="#myModal"><img src="http://placehold.it/340x248" class="img-responsive img-thumbnail content-image" alt="">
                        </a>
                        <div class="carousel__information">
                            <h4 class="works__product-name ">CLEMENTINE DE LA FERONNIERE</h4>
                            <p>Print Design</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <a href="#"  data-toggle="modal" data-target="#myModal"><img src="http://placehold.it/340x248" class="img-responsive img-thumbnail content-image" alt=""></a>
                        <div class="carousel__information">
                            <h4 class="works__product-name ">FARMER’S MARKET KITCHEN</h4>
                            <p>Web Design</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <a href="#"  data-toggle="modal" data-target="#myModal"><img src="http://placehold.it/340x248" class="img-responsive img-thumbnail content-image" alt=""></a>
                        <div class="carousel__information">
                            <h4 class="works__product-name ">FARMER’S MARKET KITCHEN</h4>
                            <p>Web Design</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <a href="#"  data-toggle="modal" data-target="#myModal"><img src="http://placehold.it/340x248" class="img-responsive img-thumbnail content-image" alt=""></a>
                        <div class="carousel__information">
                            <h4 class="works__product-name ">FARMER’S MARKET KITCHEN</h4>
                            <p>Web Design</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <a href="#"  data-toggle="modal" data-target="#myModal"><img src="http://placehold.it/340x248" class="img-responsive img-thumbnail content-image" alt=""></a>
                        <div class="carousel__information">
                            <h4 class="works__product-name ">FARMER’S MARKET KITCHEN</h4>
                            <p>Web Design</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <a href="#"  data-toggle="modal" data-target="#myModal"><img src="http://placehold.it/340x248" class="img-responsive img-thumbnail content-image" alt=""></a>
                        <div class="carousel__information">
                            <h4 class="works__product-name ">FARMER’S MARKET KITCHEN</h4>
                            <p>Web Design</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <a href="#"  data-toggle="modal" data-target="#myModal"><img src="http://placehold.it/340x248" class="img-responsive img-thumbnail content-image" alt=""></a>
                        <div class="carousel__information">
                            <h4 class="works__product-name ">FARMER’S MARKET KITCHEN</h4>
                            <p>Web Design</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <a href="#"  data-toggle="modal" data-target="#myModal"><img src="http://placehold.it/340x248" class="img-responsive img-thumbnail content-image" alt=""></a>
                        <div class="carousel__information">
                            <h4 class="works__product-name ">FARMER’S MARKET KITCHEN</h4>
                            <p>Web Design</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <a href="#"  data-toggle="modal" data-target="#myModal"><img src="http://placehold.it/340x248" class="img-responsive img-thumbnail content-image" alt=""></a>
                        <div class="carousel__information">
                            <h4 class="works__product-name ">FARMER’S MARKET KITCHEN</h4>
                            <p>Web Design</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <a href="#"  data-toggle="modal" data-target="#myModal"><img src="http://placehold.it/340x248" class="img-responsive img-thumbnail content-image" alt=""></a>
                        <div class="carousel__information">
                            <h4 class="works__product-name ">FARMER’S MARKET KITCHEN</h4>
                            <p>Web Design</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <a href="#"  data-toggle="modal" data-target="#myModal"><img src="http://placehold.it/340x248" class="img-responsive img-thumbnail content-image" alt=""></a>
                        <div class="carousel__information">
                            <h4 class="works__product-name ">FARMER’S MARKET KITCHEN</h4>
                            <p>Web Design</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <a href="#"  data-toggle="modal" data-target="#myModal"><img src="http://placehold.it/340x248" class="img-responsive img-thumbnail content-image" alt=""></a>
                        <div class="carousel__information">
                            <h4 class="works__product-name ">FARMER’S MARKET KITCHEN</h4>
                            <p>Web Design</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <a href="#"  data-toggle="modal" data-target="#myModal"><img src="http://placehold.it/340x248" class="img-responsive img-thumbnail content-image" alt=""></a>
                        <div class="carousel__information">
                            <h4 class="works__product-name ">FARMER’S MARKET KITCHEN</h4>
                            <p>Web Design</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <a href="#"  data-toggle="modal" data-target="#myModal"><img src="http://placehold.it/340x248" class="img-responsive img-thumbnail content-image" alt=""></a>
                        <div class="carousel__information">
                            <h4 class="works__product-name ">FARMER’S MARKET KITCHEN</h4>
                            <p>Web Design</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <a href="#"  data-toggle="modal" data-target="#myModal"><img src="http://placehold.it/340x248" class="img-responsive img-thumbnail content-image" alt=""></a>
                        <div class="carousel__information">
                            <h4 class="works__product-name ">FARMER’S MARKET KITCHEN</h4>
                            <p>Web Design</p>
                        </div>
                    </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination swiper_paginator"></div>
                <!-- Add Arrows -->
                <div class="swiper-button-prev works__carousel-control">
                    <span  class="fa fa-angle-left fa-2x" aria-hidden="true"></span>
                </div>
                <div class="swiper-button-next works__carousel-control">
                    <span class="fa fa-angle-right fa-2x" aria-hidden="true"></span>
                </div>

            </div>
        </div><!--/.container-->
    </section>

    <!--SERVICES-->

    <section class="services" id="services">
        <div class="container text-center">
            <h2 class="main-content__article">SERVICES</h2>
            <p class="main-content__text">Duis vitae velit mollis, congue nisi dignissim, pellentesque lorem</p>
            <div class="row">
                <div class="col-sm-4">
                    <span href="#" class="thumbnail services__icon">
                        <i class="fa fa-desktop" aria-hidden="true"></i>
                    </span>
                    <h4 class="product-name">DESIGN & ART DIRECTING</h4>
                    <p class="services__content">Nulla sit amet mi sed metus venenatis commodo vitae vel magna. Aenean auctor, dolor dignissim congue </p>
                </div>
                <div class="col-sm-4">
                     <span href="#" class="thumbnail services__icon">
                        <i class="fa fa-code" aria-hidden="true"></i>
                    </span>
                    <h4 class="product-name">DEVELOPING</h4>
                    <p class="services__content">Nulla sit amet mi sed metus venenatis commodo vitae vel magna. Aenean auctor, dolor dignissim congue </p>
                </div>
                <div class="col-sm-4">
                     <span href="#" class="thumbnail services__icon">
                        <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                    </span>
                    <h4 class="product-name">CONSULTING</h4>
                    <p class="services__content">Nulla sit amet mi sed metus venenatis commodo vitae vel magna. Aenean auctor, dolor dignissim congue </p>
                </div>
            </div>
        </div>
    </section>

    <!--PRICES-->

    <section class="prices" id="prices">
        <div class="container text-center">
            <h2 class="main-content__article">AND THE PRICES</h2>
            <p class="main-content__text">Duis vitae velit mollis, congue nisi dignissim, pellentesque lorem</p>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="prices-container">
                        <h4 class="product-name price-name">STARTER</h4>
                        <p class="price__number">15<span class="fa fa-eur" aria-hidden="true"></span></p>
                        <p class="prices__monthly">monthly</p>
                        <ul>
                            <li>Premium Quality</li>
                            <li>24/7 Support</li>
                            <li>Great Results</li>
                            <li>Happy Clients</li>
                            <li>High Performance</li>
                        </ul>
                        <a href="#"  class="btn btn-grab-now">GRAB NOW</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="prices-container">
                        <h4 class="product-name price-name">BUSINESS</h4>
                        <p class="price__number">30<span class="fa fa-eur" aria-hidden="true"></span></p>
                        <p class="prices__monthly">monthly</p>
                        <ul>
                            <li>Premium Quality</li>
                            <li>24/7 Support</li>
                            <li>Great Results</li>
                            <li>Happy Clients</li>
                            <li>High Performance</li>
                        </ul>
                        <a href="#"  class="btn btn-grab-now">GRAB NOW</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div  class="prices-container">
                        <h4 class="product-name price-name">PRO</h4>
                        <p class="price__number">50<span class="fa fa-eur" aria-hidden="true"></span></p>
                        <p class="prices__monthly">monthly</p>
                        <ul >
                            <li>Premium Quality</li>
                            <li>24/7 Support</li>
                            <li>Great Results</li>
                            <li>Happy Clients</li>
                            <li>High Performance</li>
                        </ul>
                        <a href="#"  class="btn btn-grab-now">GRAB NOW</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="prices-container">
                        <h4 class="product-name price-name">CORPORATE</h4>
                        <p class="price__number">75<span class="fa fa-eur" aria-hidden="true"></span></p>
                        <p class="prices__monthly">monthly</p>
                        <ul>
                            <li>Premium Quality</li>
                            <li>24/7 Support</li>
                            <li>Great Results</li>
                            <li>Happy Clients</li>
                            <li>High Performance</li>
                        </ul>
                        <a href="#"  class="btn btn-grab-now">GRAB NOW</a>
                    </div>
                </div>
            </div>
        </div><!--/.container-->
    </section>

    <!--CATCHY SENTANCE-->

    <section class="catchy-sentance">
        <div class="catchy-sentance__block">
            <div class="catchy-sentance__article text-center">
                <h3>CATCHY SENTANCE</h3>
                <h3>WITH VIDEO BACKGROUND</h3>
            </div>
        </div>
    </section>

    <!--TESTIMONIALS-->

    <section class="testimonials" id="testimonials">
        <div class="container text-center">
            <h2 class="main-content__article">TESTIMONIALS</h2>
            <p class="main-content__text">Duis vitae velit mollis, congue nisi dignissim, pellentesque lorem</p>
            <div class="swiper-container swiper_testimonials">
                <div class="swiper-wrapper ">
                    <div class="swiper-slide">
                        <img src="http://placehold.it/150x150" class="img-thumbnail testimonials__content-image" alt="">
                        <p class="testimonials__text">“Aenean convallis dolor at eros ornare, sit amet convallis justo consequat. Vestibulum vitae enim risus.
                            Nullam dignissim feugiat lectus, ac tristique odio gravida pellentesque.”</p>
                        <ol class="breadcrumb testimonials__navigate">
                            <li><a href="#">-NELLY ATANASOFF</a></li>
                            <li class="active">CFO at Atanasoff LLC</li>
                        </ol>
                    </div>
                    <div class="swiper-slide">
                        <img src="http://placehold.it/150x150" class="img-thumbnail testimonials__content-image" alt="">
                        <p class="testimonials__text">“Aenean convallis dolor at eros ornare, sit amet convallis justo consequat. Vestibulum vitae enim risus.
                            Nullam dignissim feugiat lectus, ac tristique odio gravida pellentesque.”</p>
                        <ol class="breadcrumb testimonials__navigate">
                            <li><a href="#">-NELLY ATANASOFF</a></li>
                            <li class="active">CFO at Atanasoff LLC</li>
                        </ol>
                    </div>
                    <div class="swiper-slide">
                        <img src="http://placehold.it/150x150" class="img-thumbnail testimonials__content-image" alt="">
                        <p class="testimonials__text">“Aenean convallis dolor at eros ornare, sit amet convallis justo consequat. Vestibulum vitae enim risus.
                            Nullam dignissim feugiat lectus, ac tristique odio gravida pellentesque.”</p>
                        <ol class="breadcrumb testimonials__navigate">
                            <li><a href="#">-NELLY ATANASOFF</a></li>
                            <li class="active">CFO at Atanasoff LLC</li>
                        </ol>
                    </div>
                    <div class="swiper-slide">
                        <img src="http://placehold.it/150x150" class="img-thumbnail testimonials__content-image" alt="">
                        <p class="testimonials__text">“Aenean convallis dolor at eros ornare, sit amet convallis justo consequat. Vestibulum vitae enim risus.
                            Nullam dignissim feugiat lectus, ac tristique odio gravida pellentesque.”</p>
                        <ol class="breadcrumb testimonials__navigate">
                            <li><a href="#">-NELLY ATANASOFF</a></li>
                            <li class="active">CFO at Atanasoff LLC</li>
                        </ol>
                    </div>
                    <div class="swiper-slide">
                        <img src="http://placehold.it/150x150" class="img-thumbnail testimonials__content-image" alt="">
                        <p class="testimonials__text">“Aenean convallis dolor at eros ornare, sit amet convallis justo consequat. Vestibulum vitae enim risus.
                            Nullam dignissim feugiat lectus, ac tristique odio gravida pellentesque.”</p>
                        <ol class="breadcrumb testimonials__navigate">
                            <li><a href="#">-NELLY ATANASOFF</a></li>
                            <li class="active">CFO at Atanasoff LLC</li>
                        </ol>
                    </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination testimonials__carousel-indicator"></div>
            </div>
        </div>
    </section>

    <!--CLIENTS-->

    <section class="clients" id="clients">
        <div class="container text-center">
            <h2 class="main-content__article">CLIENTS</h2>
            <p class="main-content__text">Duis vitae velit mollis, congue nisi dignissim, pellentesque lorem</p>
            <div class="row ">
                <div class="col-lg-2 col-sm-4 col-xs-6 ">
                    <img src="http://placehold.it/170x98" class="img-responsive clients__image" alt="">
                </div>
                <div class="col-lg-2 col-sm-4 col-xs-6 ">
                    <img src="http://placehold.it/170x98" class="img-responsive clients__image" alt="">
                </div>
                <div class="col-lg-2 col-sm-4 col-xs-6 ">
                    <img src="http://placehold.it/170x98" class="img-responsive clients__image" alt="">
                </div>
                <div class="col-lg-2 col-sm-4 col-xs-6 ">
                    <img src="http://placehold.it/170x98" class="img-responsive clients__image" alt="">
                </div>
                <div class="col-lg-2 col-sm-4 col-xs-6 ">
                    <img src="http://placehold.it/170x98" class="img-responsive clients__image" alt="">
                </div>
                <div class="col-lg-2 col-sm-4 col-xs-6 ">
                    <img src="http://placehold.it/170x98" class="img-responsive clients__image" alt="">
                </div>
            </div>
        </div><!--/.container-->
    </section>

    <!--SOME COOL FACTS-->

    <section class="cool-facts" id="cool_facts">
        <div class="cool-facts-block" id="counts">
            <div class="container text-center">
                <div class="cool-text">
                    <h2 class="main-content__article">SOME COOL FACTS</h2>
                    <p class="main-content__text">Duis vitae velit mollis, congue nisi dignissim, pellentesque lorem</p>
                </div>

                <div class="row">
                    <div class="col-md-3 col-sm-6 fact">
                        <p class=" cool-facts__number">
                            <span class="fa fa-users" aria-hidden="true"> </span>
                            <span class="cool-number">120</span>
                        </p>
                        <h4 class="fact__product-name">HAPPY CLIENTS</h4>
                    </div>
                    <div class="col-md-3 col-sm-6 fact">
                        <p class=" cool-facts__number">
                            <span class="fa fa-files-o" aria-hidden="true"> </span>
                            <span class="cool-number">551</span>
                        </p>
                        <h4 class="fact__product-name">AWESOME PROJECTS</h4>
                    </div>
                    <div class="col-md-3 col-sm-6 fact">
                        <p class=" cool-facts__number">
                            <span class="fa fa-laptop" aria-hidden="true"> </span>
                            <span class="cool-number">95</span><span>K</span>
                        </p>
                            <h4 class="fact__product-name">WORKING HOURS</h4>
                    </div>
                    <div class="col-md-3 col-sm-6 fact">
                        <p class=" cool-facts__number">
                            <span class="fa fa-coffee" aria-hidden="true"></span>
                            <span class="cool-number-coffee">1.2</span><span>K</span>

                        </p>
                        <h4 class="fact__product-name">COFFEES DRINKED</h4>
                    </div>
                </div>
            </div><!--/.container-->
        </div>
    </section>

    <!--USER SUBMITTED FEEDBACK-->

    <section class="contact-us" id="contact-us">
        <div class="container text-center">
            <h2 class="main-content__article">CONTACT US</h2>
            <p class="main-content__text">Duis vitae velit mollis, congue nisi dignissim, pellentesque lorem</p>
            <form class="form-inline">
                <div class="row">
                    <div class="col-sm-4">
                        <input type="text" class="form-control contact-us__information" placeholder="YOUR NAME" required>
                    </div>
                    <div class="col-sm-4">
                        <input type="email" class="form-control contact-us__information" id="email" required placeholder="YOUR EMAIL" >
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control contact-us__information" id="phone" required  placeholder="YOUR PHONE">
                    </div>
                    <div class="col-sm-12">
                        <textarea class="form-control contact-us__information" rows="9" id="comment" required placeholder="THE MESSAGE"></textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-message">SEND THE MESSAGE</button>
            </form>
        </div><!--/.container-->
    </section>

