<!-- Trigger the modal with a button -->

<!-- Modal -->
<div class="modal fade modal-1" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <button type="button" class="close modal-window__close" data-dismiss="modal">&times;</button>
            <div class="modal-body modal-window__header">
                <div id="carousel_image" class="carousel slide" data-interval="false" data-ride="carousel">
                    <ol class="carousel-indicators carousel-img__carousel-indicator">
                        <li data-target="#carousel_image" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel_image" data-slide-to="1"></li>
                        <li data-target="#carousel_image" data-slide-to="2"></li>
                        <li data-target="#carousel_image" data-slide-to="3"></li>
                        <li data-target="#carousel_image" data-slide-to="4"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="item active modal-window__carousel-img">
                            <img src="http://placehold.it/970x545" alt="">
                        </div>
                        <div class="item modal-window__carousel-img">
                            <img src="http://placehold.it/970x545" alt="">
                        </div>
                        <div class="item modal-window__carousel-img">
                            <img src="http://placehold.it/970x545" alt="">
                        </div>
                        <div class="item modal-window__carousel-img">
                            <img src="http://placehold.it/970x545" alt="">
                        </div>
                        <div class="item modal-window__carousel-img">
                            <img src="http://placehold.it/970x545" alt="">
                        </div>
                    </div>
                    <div class="block-left-right">
                        <a class="left carousel-control image_carousel-control" href="#carousel_image" role="button" data-slide="prev">
                            <span class="fa fa-angle-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control image_carousel-control" href="#carousel_image" role="button" data-slide="next">
                            <span  class="fa fa-angle-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div><!--carousel_image-->
                <div class="modal-window__body">
                    <div class="row">
                        <div class="col-sm-8">
                            <h4 class="modal-title">Video Blog Post</h4>
                            <p>Suspendisse tempor vehicula malesuada. Duis egestas porta nulla vel suscipit.
                                Cras quis suscipit ante. Donec nec gravida ante, vel auctor magna. Ut volutpat libero eget
                                ante aliquam consequat. Sed et erat in ante congue blandit quis quis elit. Sed risus quam, mollis
                                vitae elit quis, ultrices viverra purus. Etiam et est at mi suscipit ultricies in nec tellus.</p>
                            <div class="video-progress-block">
                                <p><span>98%</span>Photoshop - Donec tincidunt tortor et velit ornare aliquet</p>
                                <div class="progress video-progress">
                                    <div class="progress-bar video-progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:98%">
                                    </div>
                                </div>
                                <p><span>75%</span>InDesign - Quisque malesuada nec ante suscipit tempor</p>
                                <div class="progress video-progress">
                                    <div class="progress-bar video-progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:75%">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="project_info">
                                <p class="project-info__text">PROJECT INFO</p>
                                <ul class="project-info__list">
                                    <li>For: Levski Sofia</li>
                                    <li>Category: Print Design</li>
                                    <li>Skills: Photoshop, InDesign</li>
                                    <li>Date Start: 31 March 2014</li>
                                    <li>Date Finished: 4 May 2014</li>
                                    <li>URL: www.levski.bg</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer modal-window__footer">
                    <a href="#modal-2" class="left block__carousel-control " data-dismiss="modal" data-toggle="modal" id="block__carousel-control">
                        <span class="fa fa-angle-left fa-2x" aria-hidden="true"></span>
                    </a>
                    <span class="text-button left">Suspendisse blandit in nibh a ultrices</span>
                    <span class="text-button right">Morbi aliquam justo tellus</span>
                    <a  href="#modal-3" class="right block__carousel-control carousel-control-right" data-dismiss="modal" data-toggle="modal">
                        <span  class="fa fa-angle-right fa-2x" aria-hidden="true"></span>
                    </a>
                </div>
            </div><!--modal-content-->
        </div><!--modal-dialog-->
    </div><!--modal fade-->
</div>

