<div class="col-md-3 sidebar-offcanvas" id="sidebar">

    <div class="right-block">
        <!--search-->
        <div class="search">
            <div class="input-group">
                <input type="text" class="form-control search__input" placeholder="Search for..." required>
                            <span class="input-group-btn">
                            <button class="btn btn-search" type="button"><span class="fa fa-search" aria-hidden="true"></span></button>
                        </span>
            </div>
        </div>


        <!--categories-->
        <div class="categories">
            <h5 class="right-block__article">CATEGORIES</h5>
            <div class="categories__list">
                <div class="list-group categories__list-group">
                    <a href="#" class="list-group-item">WEB DESIGN</a>
                    <a href="#" class="list-group-item">GRAPHIC DESIGN</a>
                    <a href="#" class="list-group-item">PHOTOGRAPHY</a>
                    <a href="#" class="list-group-item">DEVELOPING</a>
                    <a href="#" class="list-group-item">CONSULTING</a>
                </div>
            </div>
        </div>

        <!--popular posts-->
        <div class="popular_posts">
            <h5 class="right-block__article">POPULAR POSTS</h5>
            <div class="">
                <a href="#" class="list-group-item active popular__list">
                    <h4 class="list-group-item-heading">The Most Readed Blog Post Here</h4>
                    <ul class="list-inline">
                        <li><span class="fa fa-eye" aria-hidden="true"></span>1280</li>
                        <li><span class="fa fa-user" aria-hidden="true"></span>Mike</li>
                    </ul>
                </a>
                <a href="#" class="list-group-item active popular__list">
                    <h4 class="list-group-item-heading">Second Most Popular Post</h4>
                    <ul class="list-inline">
                        <li><span class="fa fa-eye" aria-hidden="true"></span>1011</li>
                        <li><span class="fa fa-user" aria-hidden="true"></span>Elly</li>
                    </ul>
                </a>
                <a href="#" class="list-group-item active popular__list">
                    <h4 class="list-group-item-heading">The Third Hot Post</h4>
                    <ul class="list-inline">
                        <li><span class="fa fa-eye" aria-hidden="true"></span>956</li>
                        <li><span class="fa fa-user" aria-hidden="true"></span>Vall</li>
                    </ul>
                </a>
            </div>
        </div>

        <!--flickr post-->
        <div class="flickr_images">
            <h5 class="right-block__article">FLICKR IMAGES</h5>
            <div class="row text-center">
                <div class="col-sm-4 col-xs-6">
                    <img src="http://placehold.it/70x70"  class="img-responsive" alt="">
                </div>
                <div class="col-sm-4 col-xs-6">
                    <img src="http://placehold.it/70x70" class="img-responsive" alt="">
                </div>
                <div class="col-sm-4 col-xs-6">
                    <img src="http://placehold.it/70x70"  class="img-responsive" alt="">
                </div>
                <div class="col-sm-4 col-xs-6">
                    <img src="http://placehold.it/70x70"  class="img-responsive" alt="">
                </div>
                <div class="col-sm-4 col-xs-6">
                    <img src="http://placehold.it/70x70"  class="img-responsive" alt="">
                </div>
                <div class="col-sm-4 col-xs-6">
                    <img src="http://placehold.it/70x70"  class="img-responsive" alt="">
                </div>
            </div>
        </div>

        <!--text widget-->
        <div class="text_widget">
            <h5 class="right-block__article">TEXT WIDGET</h5>
            <p class="text-widget__paragraph">Donec quis vestibulum nisl, a bibendum velit. Proin cursus mauris non malesuada euismod.
                In vitae accumsan neque.</p>
        </div>

        <!--popular tags-->
        <div class="popular_tags">
            <h5 class="right-block__article">POPULAR TAGS</h5>
            <a href="#"><span class="label label-popular-tags">Design</span></a>
            <a href="#"><span class="label label-popular-tags">Branding</span></a>
            <a href="#"><span class="label label-popular-tags">Art</span></a>
            <a href="#"><span class="label label-popular-tags">Developing</span></a>
            <a href="#"><span class="label label-popular-tags">CSS</span></a>
            <a href="#"><span class="label label-popular-tags">HTML</span></a>
            <a href="#"><span class="label label-popular-tags">Wordpress</span></a>
            <a href="#"><span class="label label-popular-tags">Photography</span></a>
        </div>

        <!--SUBSCRIBE FOR NEWSLETTER-->
        <div class="subscribe_newsletter">
            <h5 class="right-block__article">SUBSCRIBE FOR NEWSLETTER</h5>
            <form class="subscribe_newsletter-form">
                <div class="form-group">
                    <label for="email">Donec quis vestibulum nisl, a bibendum velit.</label>
                    <input type="email" class="form-control subscribe-input" id="email" placeholder="YOUR EMAIL ADDRESS" required>
                </div>
                <button type="submit" class="btn btn-subscribe"><span class="fa fa-envelope" aria-hidden="true"></span>SUBSCRIBE</button>
            </form>
        </div>

        <!--posts by date-->
        <div class="post_date">
            <h5 class="right-block__article">POSTS BY DATE</h5>
            <div class="all-calendar">
                <div id = "calendar_table"></div>
            </div>

        </div>
    </div>
</div>